.HikeDetailPage {
  padding: 20px;
}

.HikeDetailPage img {
  height: 200px;
}

.HikeDetailPage p {
  margin: 15px 0;
}

.HikeDetailPage a {
  font-size: .9rem;
  margin-right: 10px;
}

.HikeDetailPage button.delete {
  background: 0;
  border: 0;
  text-decoration: underline;
  color: blue;
  font-size: .9rem;
  cursor: pointer;
}